Write a program that asks the user for a number n and prints the sum of the numbers 1 to n

In [3]:
inp  = int(input())
sum=0
for i in range(1,inp+1):
  sum += i
print(sum)

12
78

Modify the previous program such that only multiples of 3 or 5 are considered in the sum.

For example: 3, 5, 6, 9, 10, 12, 15 for n=17

In [4]:
sum=0
for i in range(1,inp+1):
  if i%3==0 or i%5==0:
    sum += i
print(sum)

45

Write a program that takes integer Array of N element and prints sum of even numbers and

sum of odd numbers within the Array.

In [6]:
arr = list(map(int,input().split()))
even = 0
odd = 0
for i in range(0,len(arr)):
  if arr[i]%2==0:
    even+=arr[i]
  else:
    odd+=arr[i]

print("odd",odd)
print("even",even)

2 1 4 5 3 13 11 6
odd 33
even 12

Write a program that asks the user for a number n and gives them the possibility to choose between computing the sum and computing the product of 1,â€¦,n.

In [12]:
num = int(input("Enter the number: "))
op = input("Enter operation type (Sum/Product): ")
if op=='Sum' or op=='sum':
  sum=0
  for i in range(1,num+1):
    sum += i
if op=='Product' or op=='product':
  sum=1
  for i in range(1,num+1):
    sum *=i

print(sum)

Enter the number: 6
Enter operation type (Sum/Product): product
720

Write a program that prints a multiplication table for numbers up to 12.

In [15]:
num = int(input('Enter integer: '))
for i in range(1,13):
  print(str(num) +"*" + str(i) + '='+str(num*i))

Enter integer: 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
5*11=55
5*12=60

Write a program that checks if a given number N is a prime number or not.

In [17]:
num = int(input('Enter number: '))
count = 0
for i in range(1,num+1):
  if num%i==0:
    count+=1
if count == 2:
  print("prime number")
else:
  print("Not a prime number")

Enter number: 12
Not a prime number

Write a program that prints all prime numbers up to a given number N.

In [23]:
num = int(input('Enter number: '))
a=[]
for i in range(1,num+1):
  a.append(i)
b=[]
for i in range(0,len(a)):
  count=0
  for j in range(1,num+1):
    if a[i]%j==0:
      count +=1
  if count == 2:
    b.append(a[i])

print(b)

Enter number: 13
[2, 3, 5, 7, 11, 13]

Write a function that returns the largest element in a list of Integers.

In [32]:
a = list(map(int,input('Enter array: ').split()))
a = sorted(a)
print(a[-1])

Enter array: 22 3 4 5
22

	
Write a function that returns the largest element in a list of strings. Input: ["abc", "xyzaadd", "22", "K", "2dk"] Output: Largest element is: "xyzaadd"

In [46]:
a = list(map(str,input().split()))
result = ""
for i in range(0,len(a)):
  if len(a[i]) > len(result):
    result = a[i]
print(result)

abc xyzaadd 22 K 2dk
xyzaadd